<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANevZ3baxaGNFlV_QTomDVkVPFaUls6L4</string>
	<key>GCM_SENDER_ID</key>
	<string>827023066071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.technifutur.HealthBuddy</string>
	<key>PROJECT_ID</key>
	<string>healthbuddy-132d7</string>
	<key>STORAGE_BUCKET</key>
	<string>healthbuddy-132d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827023066071:ios:e31ad1ff1152e366248192</string>
</dict>
</plist>